{% extends 'base.html' %}

{% block title %}
<title>Update Post</title>
{% endblock %}

{% block body %}
<h1>Update Post</h1>
<hr>
<h2>Edit:</h2>
<form action="/posts/edit/{{post.id}}",method="POST">
     <label for="title">Title</label>
    <input class="form-control" name="title" id="title" type="text" placeholder="Enter Title" aria-label="Title" value="{{post.title}}">
    <br>
    <label for="author">Author</label>
    <input class="form-control" name="author" id="author" type="text" placeholder="Enter Author" aria-label="Author" value="{{post.author}}">
    <br>
    <label for="blog">Post</label>
    <textarea class="form-control" name="blog" id="blog" rows="3" placeholder="Enter Blog Post" value="{{post.Blog}}"></textarea>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Save Changes">
</form>
<hr>
{% endblock %}