{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to the Clever Programmer Blog we will be talking About Python Frameworks,Machine Learning or other Data Science Tool</p>
        <p>Go visit us at Our Website <a href="https://github.com/ImranRiazChohan" >Github Link</a> .</p>To check my all Repositories like Flask,CNN,Deep Learning ,Python,Tkinter all stuff based On python .</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Goto Blog Post &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}