{% extends 'base.html' %}

{% block title %}
<title>Post</title>
{% endblock %}

{% block body %}
<h1>All Posts</h1>
<hr>
<h2>Create New Blog Post</h2>
<form action="/posts",method="POST">
    Title:<input type="text" name="title" id="title">
    <br>
    Author:<input type="text" name="author" id="author">
    <br>
    Post:<input type="text" name=blog" id="blog">
    <br>
    <input type="submit" value="Post">
</form>
<hr>
    {% for posts in post %}
    <h2>{{posts.title}}</h2>
    {% if posts.author %}
        <h3>By:{{posts.author}}</h3>
    {% else %}
        <h3> By:N/A</h3>
    {% endif %}
<p>{{posts.Blog}}</p>
<!--    <h3>ID:{{posts.id}}</h3>-->
<!--<h4>Date:{{posts.date_posted}}</h4>-->
<a href="/posts/edit/{{post.id}}">Update</a>
<a href="/posts/delete/{{post.id}}">Delete</a>
<hr>
{% endfor %}
{% endblock %}